@import './base.css';

::-webkit-scrollbar {
  width: 6px;
  background-color: #303841;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #3A4750;
  border-radius: 2px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

#frontPage{
  height: 100vh;
  overflow-y: auto;
}